<h2>Owner Details</h2>


<p>Name: <%= @owner.name %></p>
<p>Pet: <%= @owner.animal.name %></p>
<p>location: <%= @owner.location %></p>




<form action="/owners/<%= @owner.id %>/edit" method="GET">
<input type="submit" value="edit"/>
</form>

<form action="/owners/<%= @owner.id %>/delete" method="POST">
<input type="submit" value="delete"/>
</form>


