<div class="show view-container" >
  <h2>Owner Details</h2>

  <p>Name: <%= @owner.name %></p>
  <p>Pet: <%= @owner.animal.name %></p>
  <p>Location: <%= @owner.location %></p>

  <form action="/owners/<%= @owner.id %>/edit" method="GET">
  <input type="submit" value="edit" class="button" />
  </form>

  <form action="/owners/<%= @owner.id %>/delete" method="POST">
  <input type="submit" value="delete" class="button" />
  </form>
</div>  


